# ------ (do not change) ------
PYTHONIOENCODING=utf-8
PYTHONUTF8=1

# ------ Options ------

# literature setting (options)
SEMANTIC_SCHOLAR_API_KEY=s2k-api-key
CROSSREF_VERIFY_EMAIL=name@insititude.edu